.light {
  background: $background-main-1;

  @include respond-to('max-small') {
    background: $background-main-2;
  }
}

.colored {
  background: $background-main-2;

  @include respond-to('max-small') {
    background: $background-main-1;
  }
}