.finance-arrow {
  position: relative;
  margin-top: -1px;
  width: 0;
  border-top: 125px solid $white;
  border-left: $ab solid transparent;
  border-right: $ab solid transparent;

  @include displayNone ('max-small');

  &__button {
    @include position (absolute, 0, 0);

    @include respond-to('max-medium') {
      @include position (absolute, 0, 0);
    }
  }

}