.finance-arrow {
  position: relative;
  margin-top: -1px;
  width: 0;
  border-top: 125px solid rgba(240, 255, 253, 1);
  border-left: 720px solid transparent;
  border-right: 720px solid transparent;

  @media (max-width: 1440px) {
    border-left: (720 / 1440 * 100vw) solid transparent;
    border-right: (720 / 1440 * 100vw) solid transparent;
  }

  @include displayNone ('max-small');

  &__button {
    @include position (absolute, 0, 0);

    @include respond-to('max-medium') {
      @include position (absolute, 0, 0);
    }
  }

}