.sales-arrow {
  position: relative;
  margin-top: -1px;
  width: 0;
  border-top: 125px solid $white;
  border-left: 720px solid transparent;
  border-right: 720px solid transparent;

  @media (max-width: 1440px) {
    border-left: (720 / 1440 * 100vw) solid transparent;
    border-right: (720 / 1440 * 100vw) solid transparent;
  }

  @include respond-to('max-medium') {
    border-top: 100px solid $white;
  }

  @include displayNone ('max-small');
}