.sales-arrow {
  position: relative;
  margin-top: -1px;
  width: 0;
  border-top: 125px solid #f0fffd;
  border-left: $ab solid transparent;
  border-right: $ab solid transparent;

  @include displayNone ('max-small');

  &__button {
    @include position (absolute, -130px, -47px);

    @include respond-to('max-medium') {
      @include position (absolute, -110px, -40px);
    }
  }
}

.indent-finance {
  margin: 0 0 70px 0;
}