// Обертка
.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100%;
  @include flex (column);
  overflow: hidden;
}

.content {
  height: auto;
  flex: 1 0 auto;
  @include flex (column);
}

.content-width {
  max-width: 1200px;
  margin: 0 auto;
}

.content-narrow {
  max-width: 1080px;
  padding: 0 20px;
  margin: 0 auto;
  
  @include respond-to('max-huge') {
    max-width: 940px;
  }

  @include respond-to('max-large') {
    max-width: 768px;
  }

  @include respond-to('max-medium') {
    max-width: 100%;
  }
}

.content-without-breakpoint {
  max-width: 1080px;
  padding: 0 20px;
  margin: 0 auto;
}

.content-for-start {
  max-width: 1160px;
  padding: 0 20px;
  margin: 0 auto;

  @include respond-to('max-small') {
    max-width: 100%;
    padding: 0;
  }
}