.footer {
  
  flex: 0 0 auto;
  background-color: #7d9bf4;
  
  &__content {
    display: flex;
    justify-content: space-between;
    padding: 20px 116px 37px 30px;
  }

  &__logo {
    height: 100%;
    margin: 0 0 auto;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #ffffff;
  }

  &__text {
    font-family: PT Sans;
    font-size: 16px;
    line-height: 20px;
    margin: -4px 0 0 auto;

    &:nth-child(1) {
      margin-bottom: 4px;
    }
  }
}
