.footer {
  flex: 0 0 auto;
  
  &__content {
    @include flex (row, space-between, center);
    padding: 20px 37px 30px;

    @include respond-to('max-small') {
      @include flex (column, space-between, flex-start);
      padding: 20px 37px;
    }
  }

  // &__logo {
  //   @include backgroundImage (url(../assets/img/logo.png), 0 0, contain);
  // }

  &__logo {
    margin: 0 30px auto 0;

    @include respond-to('max-small') {
      margin: 0 0 30px;
    }
  }

  &__body {
    @include flex (column, center, flex-end);

    @include respond-to('max-small') {
      align-items: flex-start;
    }
  }

  &__text {
  }
}