<header class="header">
  <div class="header__content content-width">
    <a class="header__logo logo" href="index.html"></a>
    <div class="header__navigation navigation">
      <div class="navigation__burger">
        <span></span>
      </div>
      <nav class="navigation__body">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a class="navigation__link" href="#">Концепция</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="#">Команда</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="#">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>