.main {
  @include respond-to('max-medium') {
    margin: 77px 0 0 0; // высота шапки
  }
}

.introduction {
  @include size (auto, auto, 0, 10% 0 14%);
  @include position (relative);

  @include respond-to('max-medium') {
    background: $intro-gradient;
  }

  &__flex {
    @include flex (column, center, flex-start);
  }

  &__title {
    margin-bottom: 26px;
    @include font ($intro-font-family, $intro-weight, $intro-size, $intro-height);
    color: $intro-color;
    z-index: 5;

    & span {
      color: $intro-span-color;
      margin-left: 15px;
      
      @include respond-to('max-medium') {
        margin-left: 0;
      }
    }

    @include fontAdaptive ($intro-height, $intro-height, $intro-height, 41px, 33px, 28px, 24px);
    
    @include respond-to('max-medium') {
      max-width: 600px;
      color: $intro-span-color;
    }

    @include respond-to('max-small') {
      max-width: 460px;
    }
  }

  &__text {
    max-width: 490px; 
    margin-bottom: 35px;
    @include font ($main-font-family, $main-weight, $main-size, $main-height);
    
    color: $black-blue;
    z-index: 5;

    @include respond-to('max-huge') {
      max-width: 450px;
      font-size: 18px;
    }

    @include respond-to('max-large') {
      max-width: 378px;
    }

    @include respond-to('max-medium') {
      max-width: 350px;
    }

    @include respond-to('max-small') {
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__link {
    margin: 0 auto 0 0;
    z-index: 5;
  }

  &__img-1 {
    width: 13.3%;

    @include position (absolute, auto, auto, -10.6%, 25.4%);
    @include displayNone ('max-tiny');
  }

  &__img-2 {
    @include position (absolute, auto, auto, 17.3%, -12.64%);
    width: 44.7%;
    @include displayNone ('max-tiny');
  }

  &__img-3 {
    @include position (absolute, auto, auto, -6.73%, -3.26%);
    width: 30.3%;
    @include displayNone ('max-tiny');
  }

  &__img-4 {
    @include position (absolute, 0, 0);
    @include size (60.7%, 100%);
    @include displayNone ('max-medium');
  }
}

.use {
  padding: 126px 0 115px;
  
  @include respond-to('max-large') {
    padding: 118px 0 115px;
  }

  @include respond-to('max-medium') {
    padding: 90px 0 90px;
  }

  @include displayNone ('max-small');

  &__title {
    margin-bottom: 50px;
  }

  &__body {
    width: 100%;
  }

  &__flex {
    width: 100%;
    @include flex (row, space-between);
  }

  &__item {

    &:nth-child(2) {
      margin: 0 40px;
    }    
  }
}

.sales {
  background: $background-main-2;

  @include respond-to('max-small') {
    padding: 45px 0 0 0;
  }

  &__flex {
    @include flex();
    margin: 0 0 55px 0;

    @include respond-to('max-medium') {
      padding: 0;
      flex-direction: column;
    }
  }

  &__body {
  }

  &__title {
    margin: 0 0 40px;

    @include respond-to('max-medium') {
      margin: 0 0 15px 0;
    }
  }

  &__text {
    margin: 0 0 30px 0;
  }

  &__list {

    @include respond-to('max-medium') {
      margin: 0 0 50px 0;
    }
  }

  &__item {
  }

  &__img {
    @include size (320px, 307px, 0 0 0 50px);
    flex: 0 0 320px;
    background-image: url(../assets/img/lean_in_sales1.png);

    @include respond-to('max-medium') {
      margin: 0;
      align-self: center;
    }

    @include respond-to('max-small') {
      background-image: url(../assets/img/lean_in_sales2.png);
    }
  }
}

.finance {
  position: relative;
  
    @include respond-to('max-medium') {
      padding: 45px 0 20px 0;
    }
  
    @include respond-to('max-small') {
      padding: 45px 0 60px 0;
    }

  &__flex {
    padding: 0 0 40px 0;
    @include flex ();

    @include respond-to('max-medium') {
      flex-direction: column;
    }
  }

  &__body {
    padding: 0 50px 0 0;
    @include flex (column);
  }

  &__title {
    margin: 0 0 30px 0;
  }

  &__text {
    margin: 0 0 41px 0;
  }

  &__list-title {
    margin: 0 0 25px 0;
  }

  &__list {
  }

  &__img {
    flex: 0 0 320px;
    @include size (320px, 320px);
    @include backgroundImage (url(../assets/img/Lean_in_finance.png), 0 0, cover);
  }

  &__button {
    @include position (absolute, auto, calc(100vw - 50%), 0);
  }
}

.discuss {
  padding: 0 20px;

  &__flex {
    @include size (100%, auto, 0 auto, 40px);
    @include flex (column);
    border-radius: 4px;
  }

  &__text {
    margin: 0 0 22px 0;
  }

  &__link {
    margin: 0 auto 0 0;
  }
}

// ! to be continued

.it {
  @include size (100%, auto, 0 0 48px 0);
  background: $background-main-2;

  &__flex-column {
    display: flex;
    flex-direction: column;
  }

  &__link {
    display: block;
    text-decoration: underline;
    margin: 0 15px 8px auto;
  }

  &__flex {
    display: flex;
    
  }

  &__body {
    padding: 0 40px 0 0;
  }

  &__body-flex {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin: 0 0 37px 0;
  }

  &__text {
    margin: 0 0 35px 0;
  }

  &__list {
  }

  &__img-wrap {
    width: 320px;
  }

  &__img {
    width: 320px;
    margin: 118px 0 0 0;
  }
}

.list-it {

  &__title {
    margin: 0 0 30px 0;
  }

  &__list {
    width: 560px;
    margin: 0 auto 0 0;
  }

// !=========================
  &__item {
    text-align: justify;
    margin: 0 0 16px;
    padding: 0 0 0 30px;
    background-image: url(../img/list_item.svg);
    background-position: 0 4px;
    background-repeat: no-repeat;
  }
}

// !=========================
