@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,700&display=swap&subset=cyrillic-ext);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,700);

@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.button-yellow {
  padding: 18px 48px;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #333333;
  background-color: #ffe600;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.button-yellow:hover {
  -webkit-box-shadow: 0px 4px 25px rgba(35, 36, 70, 0.5);
          box-shadow: 0px 4px 25px rgba(35, 36, 70, 0.5);
}

.use-item {
  margin: 0;
  padding: 22px;
  width: 320px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background: -o-linear-gradient(218.88deg, #7d97f4 9.52%, #7dbbf4 101.71%);
  background: linear-gradient(231.12deg, #7d97f4 9.52%, #7dbbf4 101.71%);
  -webkit-box-shadow: 0px 4px 25px rgba(35, 36, 70, 0.25);
          box-shadow: 0px 4px 25px rgba(35, 36, 70, 0.25);
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.use-item:hover {
  -webkit-box-shadow: 0px 4px 25px rgba(35, 36, 70, 0.5);
          box-shadow: 0px 4px 25px rgba(35, 36, 70, 0.5);
}

.use-item__img {
  width: 115px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.use-item__text {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: white;
}

.use-arrow {
  width: 100%;
}

.use-indent {
  padding: 0 0 70px 0;
}

.button-up {
  position: relative;
  margin: 0;
  padding: 0;
  width: 95px;
  height: 85px;
}

.button-up__part-1 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 53%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
  background-image: url(../assets/img/svg/button_part_up.svg);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.button-up__part-2 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 76.5%;
  display: block;
  position: absolute;
  top: auto;
  left: auto;
  bottom: 0;
  right: 0;
  background-image: url(../assets/img/svg/button_part_down.svg);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.sales-arrow {
  position: relative;
  margin-top: -1px;
  width: 0;
  border-top: 125px solid #f0fffd;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
}

.sales-arrow__button {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
}

.indent-finance {
  margin: 0 0 70px 0;
}

.finance-arrow {
  position: relative;
  margin-top: -1px;
  width: 0;
  border-top: 125px solid white;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
}

.finance-arrow__button {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
}

.links-font {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.navigation__burger {
  display: none;
}

.navigation__link {
  color: #333333;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navigation__link:hover {
  color: #7d9bf4;
}

.lock {
  overflow: hidden;
}

.start-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 0 40px 0;
}

.start-columns__item {
  min-width: 245px;
  margin: 0 40px 0 0;
}

.start-columns__item:last-child {
  margin: 0;
}

.start-columns__img {
  margin: 0;
  padding: 0;
  width: 60px;
  height: 60px;
}

.start-columns__img-1 {
  background-image: url("../assets/img/training.png");
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.start-columns__img-2 {
  background-image: url("../assets/img/transformation.png");
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.start-columns__img-3 {
  background-image: url("../assets/img/project.png");
  background-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
}

.start-columns__title {
  margin: 27px 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
}

.content {
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.content-width {
  max-width: 1200px;
  margin: 0 auto;
}

.content-narrow {
  max-width: 1080px;
  padding: 0 20px;
  margin: 0 auto;
}

.content-without-breakpoint {
  max-width: 1080px;
  padding: 0 20px;
  margin: 0 auto;
}

.content-for-start {
  max-width: 1080px;
  padding: 0 20px;
  margin: 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 20px 37px 30px;
}

.footer__logo {
  margin: 0 30px auto 0;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header {
  width: 100%;
}

.header__content {
  margin: auto;
  padding: 27px 25px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header__logo {
  margin: auto 0;
}

.start {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-radius: 4px;
}

.start__title {
  margin: 0 0 42px 0;
}

.start__link {
  margin: 0 auto 0 0;
}

.menu__flex {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 24px 25px;
}

.menu__item {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #828282;
  margin: auto 23px;
}

.why-lean {
  margin: 0 0 20px 0;
}

.why-lean__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 17px 65px 10px 78px;
}

.why-lean__title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #121222;
  margin: 0 0 42px 0;
}

.why__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why__img-wrap {
  width: 680px;
  margin: 0 60px 0 0;
}

.why__img {
  width: 680px;
}

.why__text {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 30px;
  color: #4F4F4F;
  margin: 35px 0 0 0;
}

.arrow-down-shadow {
  width: 100%;
  margin: 0 0 76px 0;
}

.arrow-down-shadow__shadow {
  width: 100%;
}

.before-after {
  margin: 0 0 82px;
}

.before-after__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 95px 0px 78px;
}

.before-after__title {
  margin: 0 0 49px 0;
}

.before-after__graph {
  padding: 0 15px 0 22px;
}

.aim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -20px 80px;
}

.aim__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.aim__img-wrap {
  width: 80px;
  margin: 0 0 15px 0;
}

.aim__img {
  width: 80px;
}

.aim__text {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 30px;
  color: #4F4F4F;
  text-align: center;
}

.graph {
  margin: 0 0 10px 0;
}

.graph__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.graph__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.graph__item:first-child {
  margin: 0 52px 0 0;
}

.graph__item:last-child {
  margin: 0 0 0 70px;
}

.graph__title {
  margin: 21px 0 10px 0;
  text-align: center;
}

.graph__img-wrap {
  width: 100%;
}

.graph__img {
  width: 100%;
}

.bellow {
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 23px 30px 23px 60px;
}

.bellow__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bellow__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bellow__item:first-child {
  margin-bottom: 16px;
}

.bellow__rectangle {
  width: 46px;
  height: 32px;
  margin: 0 75px 0 0;
}

.bellow__text {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}

.rectangle-1 {
  background-color: #FDAAA4;
}

.red {
  color: #FF4737;
}

.rectangle-2 {
  background-color: #51BFA6;
}

.green {
  color: #149073;
}

.learn-mistakes {
  margin: 0 0 57px 0;
}

.learn-mistakes__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 76px 0 76px;
}

.learn-mistakes__title {
  margin: 0 0 25px 0;
}

.learn-mistakes__text {
  font-family: PT Sans;
  font-size: 20px;
  line-height: 30px;
  color: #4f4f4f;
}

.arrow-down-mistakes {
  width: 100%;
  margin: 0 0 63px 0;
}

.arrow-down-mistakes__shadow {
  width: 100%;
}

.philosophy {
  margin: 0 0 112px 0;
}

.philosophy__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 35px 0 75px;
}

.ph-column__title {
  margin: 0 0 30px 0;
}

.ph-column__text {
  font-family: PT Sans;
  font-size: 20px;
  line-height: 30px;
  color: #4f4f4f;
}

.ph-column__text-1 {
  margin: 0 0 40px 0;
}

.ph-column__text-2 {
  margin: 0 0 12px 0;
}

.ph-list__item {
  font-family: PT Sans;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1.2px;
  color: #4f4f4f;
  padding: 0 0 0 12px;
  background-image: url(../img/dot.png);
  background-repeat: no-repeat;
  background-position: 0 12px;
}

.four-industry {
  margin: 0 0 35px 0;
}

.four-industry__title {
  margin: 0 auto 25px 65px;
}

.four-industry__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.four-img__img-wrap {
  margin: -21px 0 0 -2px;
}

.four-text__text {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 30px;
  margin: 0 110px 30px 50px;
}

.arrow-blue-shadow {
  width: 100%;
  margin: 0 0 67px 0;
}

.arrow-blue-shadow__img {
  width: 100%;
}

.FAQ {
  margin: 0 0 209px 0;
}

.FAQ__flex {
  padding: 0 65px 0 45px;
}

.FAQ__title {
  margin: 0 0 70px 0;
}

.FAQ__item {
  background-image: url(../img/minus.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 0 0 40px 60px;
  margin: 0 0 40px 0;
  border-bottom: 2px solid #d0d0d0;
}

.question__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.question__title {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  margin: 0 0 30px 0;
}

.question__text {
  font-family: PT Sans;
  font-size: 20px;
  line-height: 30px;
  color: #4f4f4f;
  border-left: 2px solid #7DB3F4;
  margin: 0 0 0 40px;
  padding: 0 0 0 20px;
}

.darker-blue {
  background-color: #c6dff9;
}

.study {
  margin: 0 0 80px 0;
}

.study__title {
  margin: 0 0 110px 68px;
}

.study__body {
  padding: 0 110px 0 70px;
}

.study__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.study__item {
  margin: 0 0 72px 0;
}

.book__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.book__img-wrap {
  margin: 0 74px 0 0;
}

.book__text {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 30px;
  color: #4f4f4f;
}

.find-how__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 51px 69px;
}

.find-how__text {
  font-family: PT Sans;
  font-size: 20px;
  line-height: 30px;
  color: #121222;
  margin: 0 0 36px 0;
}

.find-how__link {
  margin: 0 auto 0 0;
}

.introduction {
  margin: 0;
  padding: 10% 0 14%;
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
}

.introduction__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.introduction__title {
  margin-bottom: 26px;
  z-index: 5;
}

.introduction__title span {
  color: #333333;
  margin-left: 15px;
}

.introduction__text {
  max-width: 490px;
  margin-bottom: 35px;
  z-index: 5;
}

.introduction__link {
  margin: 0 auto 0 0;
  z-index: 5;
}

.introduction__img-1 {
  width: 13.3%;
  position: absolute;
  top: auto;
  left: auto;
  bottom: -10.6%;
  right: 25.4%;
}

.introduction__img-2 {
  position: absolute;
  top: auto;
  left: auto;
  bottom: 17.3%;
  right: -12.64%;
  width: 44.7%;
}

.introduction__img-3 {
  position: absolute;
  top: auto;
  left: auto;
  bottom: -6.73%;
  right: -3.26%;
  width: 30.3%;
}

.introduction__img-4 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
  margin: 0;
  padding: 0;
  width: 60.7%;
  height: 100%;
}

.use {
  padding: 126px 0 115px;
}

.use__title {
  margin-bottom: 50px;
}

.use__body {
  width: 100%;
}

.use__flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.use__item:nth-child(2) {
  margin: 0 40px;
}

.sales {
  padding: 85px 0 0;
}

.sales__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0 0 55px 0;
}

.sales__title {
  margin: 0 0 40px;
}

.sales__text {
  margin: 0 0 30px 0;
}

.sales__item {
  margin: 0 0 16px;
  padding: 0 0 0 30px;
  width: auto;
  height: auto;
  background-image: url(../assets/img/list_item.svg);
  background-position: 0 4px;
  background-size: auto auto;
  background-repeat: no-repeat;
}

.sales__img {
  margin: 0 0 0 50px;
  padding: 0;
  width: 320px;
  height: 307px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
  background-image: url(../assets/img/lean_in_sales1.png);
}

.finance {
  position: relative;
  padding: 90px 0 0 0;
}

.finance__flex {
  padding: 0 0 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.finance__body {
  padding: 0 50px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.finance__title {
  margin: 0 0 30px 0;
}

.finance__text {
  margin: 0 0 41px 0;
}

.finance__list-title {
  margin: 0 0 25px 0;
}

.finance__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
  margin: 0;
  padding: 0;
  width: 320px;
  height: 320px;
  background-image: url(../assets/img/Lean_in_finance.png);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.finance__button {
  position: absolute;
  top: auto;
  left: calc(100vw - 50%);
  bottom: 0;
  right: auto;
}

.finance-list__item {
  margin: 0 0 16px 0;
  padding: 0 0 0 30px;
  width: auto;
  height: auto;
  background-image: url(../assets/img/list_item.svg);
  background-position: 0 4px;
  background-size: auto auto;
  background-repeat: no-repeat;
}

.discuss {
  padding: 0 20px;
}

.discuss__flex {
  margin: 0 auto;
  padding: 40px;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border-radius: 4px;
}

.discuss__text {
  margin: 0 0 22px 0;
}

.discuss__link {
  margin: 0 auto 0 0;
}

.it {
  margin: 0 0 48px 0;
  padding: 45px 0 0 0;
  width: auto;
  height: auto;
}

.it__flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.it__link {
  display: block;
  text-decoration: underline;
  margin: 0 15px 8px auto;
}

.it__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.it__body {
  padding: 0 40px 0 0;
}

.it__body-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.it__title {
  margin: 0 0 37px 0;
}

.it__text {
  margin: 0 0 35px 0;
}

.it__img-wrap {
  width: 320px;
}

.it__img {
  width: 320px;
  margin: 118px 0 0 0;
}

.list-it__title {
  margin: 0 0 30px 0;
}

.list-it__list {
  width: 560px;
  margin: 0 auto 0 0;
}

.list-it__item {
  text-align: justify;
  margin: 0 0 16px;
  padding: 0 0 0 30px;
  background-image: url(../img/list_item.svg);
  background-position: 0 4px;
  background-repeat: no-repeat;
}

.consultation {
  margin: 100px 0 57px 0;
}

.consultation__title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #121222;
  margin: 0 0 45px 0;
}

.consultation__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.consultation__img-wrap {
  margin: 10px 35px 0 0;
}

.consultation__text {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 30px;
  color: #121222;
}

.criteria {
  margin: 0 0 50px 0;
}

.criteria__title {
  margin: 0 0 45px 0;
}

.criteria__list {
  font-family: PT Sans;
  font-size: 16px;
  line-height: 20px;
  color: #4f4f4f;
  margin: 0 350px 0 0;
}

.criteria__item {
  background-image: url(../img/list_item.svg);
  background-position: 0 4px;
  background-repeat: no-repeat;
  padding: 0 0 0 30px;
  margin: 0 0 16px 0;
}

.works {
  margin: 0 0 73px 0;
}

.works__title {
  margin: 0 0 37px 0;
}

.works__list {
  font-family: PT Sans;
  font-size: 16px;
  line-height: 20px;
  color: #4f4f4f;
  margin: 0 350px 0 0;
}

.works__item {
  background-image: url(../img/list_item.svg);
  background-position: 0 4px;
  background-repeat: no-repeat;
  padding: 0 0 0 30px;
  margin: 0 0 16px 0;
}

.contacts {
  margin: 0 0 105px 0;
}

.contacts__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F0F6FF;
  border-radius: 4px;
  padding: 35px 35px 40px 40px;
  max-width: 1120px;
  margin: 0 auto;
}

.contacts__text {
  font-family: PT Sans;
  font-size: 20px;
  line-height: 30px;
  color: #4f4f4f;
  margin: 0 0 45px 0;
}

.contacts__link {
  margin: 0 auto 0 0;
}

.team {
  margin: 87px 0 35px 0;
}

.team__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team__title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #121222;
  margin: 0 0 78px 0;
}

.team__text {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 30px;
  color: #4f4f4f;
  margin: 0 0 55px 0;
}

.team__flex-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__img-wrap {
  margin: 0 50px 0 0;
  padding: 0 0 0 10px;
}

.team__img {
  margin: -10px 0 0 0;
}

.team-list__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team-list__title {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #4f4f4f;
  margin: 0 0 40px 0;
}

.team-list__list {
  font-family: PT Sans;
  font-size: 16px;
  line-height: 20px;
  color: #4f4f4f;
}

.team-list__item {
  padding: 0 0 0 30px;
  background-image: url(../img/list_item.svg);
  background-position: 0 4px;
  background-repeat: no-repeat;
  margin: 0 0 16px 0;
}

.team-arrow {
  width: 100%;
}

.team-arrow__img {
  width: 100%;
}

@media (min-width: 768px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .navigation__item {
    margin: auto  0 auto 46px;
  }
}

@media (max-width: 1240px) {
  .button-yellow {
    font-size: 18px;
  }

  .use-item {
    margin: 0;
    padding: 18px;
    width: 273px;
    height: 170px;
  }

  .use-item__img {
    width: 90px;
  }

  .use-item__text {
    font-size: 18px;
  }

  .content-narrow {
    max-width: 940px;
  }

  .introduction__title {
    font-size: 41px;
  }

  .introduction__text {
    max-width: 450px;
    font-size: 18px;
  }

  .use__item {
    font-size: 18px;
  }
}

@media (max-width: 1080px) {
  .button-yellow {
    font-size: 18px;
  }

  .button-yellow {
    padding: 12px 34px;
  }

  .use-item {
    margin: 0;
    padding: 12px;
    width: 216px;
    height: 135px;
  }

  .use-item__img {
    width: 70px;
  }

  .use-item__text {
    font-size: 18px;
  }

  .content-narrow {
    max-width: 768px;
  }

  .introduction__title {
    font-size: 33px;
  }

  .introduction__text {
    max-width: 378px;
    font-size: 16px;
  }

  .use {
    padding: 118px 0 115px;
  }

  .use__item {
    font-size: 18px;
  }
}

@media (max-width: 955px) {
  .start-columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .start-columns__item {
    margin: 40px 0;
  }

  .start-columns__item:first-child {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .button-yellow {
    font-size: 16px;
  }

  .use-item {
    width: calc((100vw - 120px) / 3);
  }

  .use-item__img {
    width: 45%;
  }

  .use-item__text {
    font-size: 16px;
  }

  .use-item__text {
    line-height: 16px;
  }

  .use-indent {
    padding: 0 0 35px 0;
  }

  .button-up {
    margin: 0;
    padding: 0;
    width: 80px;
    height: 70px;
  }

  .sales-arrow__button {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
  }

  .indent-finance {
    margin: 0;
  }

  .finance-arrow__button {
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
  }

  .navigation__burger {
    display: block;
    cursor: pointer;
    z-index: 5;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 18px;
    position: relative;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
  }

  .navigation__burger::before {
    content: "";
    height: 10%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333333;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .navigation__burger::after {
    content: "";
    height: 10%;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333333;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .navigation__burger span {
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
    height: 10%;
    width: 100%;
    position: absolute;
    top: 54%;
    left: 0;
    background-color: #333333;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .navigation__burger_active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .navigation__burger_active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .navigation__burger_active::after {
    top: 50%;
    -webkit-transform: rotate(45deg) translate(0px, -50%);
        -ms-transform: rotate(45deg) translate(0px, -50%);
            transform: rotate(45deg) translate(0px, -50%);
  }

  .navigation__body {
    margin: 77px 0 0 0;
    padding: 30px;
    width: 420px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    bottom: auto;
    right: auto;
    background-color: white;
    -webkit-transition: left  0.3s ease 0s;
    -o-transition: left  0.3s ease 0s;
    transition: left  0.3s ease 0s;
    overflow: auto;
  }

  .navigation__body_active {
    left: 0;
  }

  .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .navigation__item {
    margin: 0 0 30px;
    padding: 0 0 25px;
    width: 100%;
    height: auto;
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  }

  .content-narrow {
    max-width: 100%;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
    z-index: 10;
  }

  .main {
    margin: 77px 0 0 0;
  }

  .introduction {
    background: -o-linear-gradient(315deg, #7d97f4 0%, #7dbbf4 10%, white 70%);
    background: linear-gradient(135deg, #7d97f4 0%, #7dbbf4 10%, white 70%);
  }

  .introduction__title span {
    margin-left: 0;
  }

  .introduction__title {
    max-width: 600px;
    font-size: 28px;
    color: #333333;
  }

  .introduction__text {
    max-width: 350px;
    font-size: 14px;
  }

  .introduction__img-4 {
    display: none;
  }

  .use {
    padding: 90px 0 90px;
  }

  .use__item {
    font-size: 16px;
  }

  .sales__flex {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .sales__title {
    margin: 0 0 15px 0;
  }

  .sales__list {
    margin: 0 0 50px 0;
  }

  .sales__img {
    margin: 0;
    -ms-flex-item-align: center;
        align-self: center;
  }

  .finance {
    padding: 45px 0 20px 0;
  }

  .finance__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 549px) {
  .button-yellow {
    font-size: 14px;
  }

  .button-yellow {
    padding: 7px 26px;
  }

  .use-item__text {
    font-size: 14px;
  }

  .use-arrow {
    display: none;
  }

  .use-indent {
    padding: 0;
  }

  .sales-arrow {
    display: none;
  }

  .finance-arrow {
    display: none;
  }

  .navigation__body {
    width: 100%;
  }

  .content-for-start {
    max-width: 100%;
    padding: 0;
  }

  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 20px 37px;
  }

  .footer__logo {
    margin: 0 0 30px;
  }

  .footer__body {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .introduction__title {
    max-width: 460px;
    font-size: 24px;
  }

  .use {
    display: none;
  }

  .use__item {
    font-size: 14px;
  }

  .sales {
    padding: 45px 0 0 0;
  }

  .sales__text {
    font-size: 18px;
  }

  .sales__img {
    background-image: url(../assets/img/lean_in_sales2.png);
  }

  .finance {
    padding: 45px 0 60px 0;
  }
}

@media (max-width: 425px) {
  .introduction__img-1 {
    display: none;
  }

  .introduction__img-2 {
    display: none;
  }

  .introduction__img-3 {
    display: none;
  }
}
@supports (-webkit-appearance:none){
.button-up__part-1{background-image:url(../assets/img/svg/button_part_up.svg)}
.button-up__part-2{background-image:url(../assets/img/svg/button_part_down.svg)}
.start-columns__img-1{background-image:url("../assets/img/training.webp")}
.start-columns__img-2{background-image:url("../assets/img/transformation.webp")}
.start-columns__img-3{background-image:url("../assets/img/project.webp")}
.ph-list__item{background-image:url(../img/dot.webp)}
.FAQ__item{background-image:url(../img/minus.svg)}
.sales__item{background-image:url(../assets/img/list_item.svg)}
.sales__img{background-image:url(../assets/img/lean_in_sales1.webp)}
.finance__img{background-image:url(../assets/img/Lean_in_finance.webp)}
.finance-list__item{background-image:url(../assets/img/list_item.svg)}
.list-it__item{background-image:url(../img/list_item.svg)}
.criteria__item{background-image:url(../img/list_item.svg)}
.works__item{background-image:url(../img/list_item.svg)}
.team-list__item{background-image:url(../img/list_item.svg)}
}

 @media (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1240px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1080px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 955px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 549px){

@supports (-webkit-appearance:none){
.sales__img{background-image:url(../assets/img/lean_in_sales2.webp)}
}

}

 @media (max-width: 425px){

@supports (-webkit-appearance:none){

}

}
