@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,700&display=swap&subset=cyrillic-ext);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,700);

@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.navigation__burger {
  display: none;
}

.navigation__link {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #333333;
}

.navigation__link:hover {
  color: #7EB7F0;
}

.navigation__link:active {
  color: #fe7062;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background-color: #7d9bf4;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 20px 37px 30px;
}

.footer__logo {
  margin: 0 30px auto 0;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.footer__text {
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: white;
}

.header {
  width: 100%;
  height: auto;
  background-color: white;
}

.header__content {
  padding: 27px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header__logo {
  margin: auto 0;
}

.start {
  padding: 0 20px;
}

.start__bg {
  max-width: 1120px;
  margin: 0 auto;
  background-color: #C6DFF9;
  border-radius: 4px;
  padding: 40px 0px 40px 40px;
}

.start__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.start__title {
  font-family: PT Sans;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
  margin: 0 0 42px;
}

.start__link {
  margin: 0 auto 0 0;
}

.column-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 40px;
}

.column-start__column {
  width: 320px;
  margin: 0 40px 0 0;
}

.column-start__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column-start__img-wrap {
  margin: 0 0 30px;
}

.column-start__title {
  margin: 0 0 26px;
}

.title-1 {
  font-family: PT Sans;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #333333;
}

.text-start {
  font-family: PT Sans;
  font-size: 20px;
  line-height: 30px;
  color: #333333;
}

.img-invalid {
  margin: 0 0 25px;
}

.menu__flex {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 24px 25px;
}

.menu__item {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #828282;
  margin: auto 23px;
}

.why-lean {
  margin: 0 0 20px 0;
}

.why-lean__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 17px 65px 10px 78px;
}

.why-lean__title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #121222;
  margin: 0 0 42px 0;
}

.why__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why__img-wrap {
  width: 680px;
  margin: 0 60px 0 0;
}

.why__img {
  width: 680px;
}

.why__text {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 30px;
  color: #4F4F4F;
  margin: 35px 0 0 0;
}

.arrow-down-shadow {
  width: 100%;
  margin: 0 0 76px 0;
}

.arrow-down-shadow__shadow {
  width: 100%;
}

.before-after {
  margin: 0 0 82px;
}

.before-after__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 95px 0px 78px;
}

.before-after__title {
  margin: 0 0 49px 0;
}

.before-after__graph {
  padding: 0 15px 0 22px;
}

.aim {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -20px 80px;
}

.aim__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.aim__img-wrap {
  width: 80px;
  margin: 0 0 15px 0;
}

.aim__img {
  width: 80px;
}

.aim__text {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 30px;
  color: #4F4F4F;
  text-align: center;
}

.graph {
  margin: 0 0 10px 0;
}

.graph__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.graph__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.graph__item:first-child {
  margin: 0 52px 0 0;
}

.graph__item:last-child {
  margin: 0 0 0 70px;
}

.graph__title {
  margin: 21px 0 10px 0;
  text-align: center;
}

.graph__img-wrap {
  width: 100%;
}

.graph__img {
  width: 100%;
}

.bellow {
  width: 100%;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 23px 30px 23px 60px;
}

.bellow__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bellow__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bellow__item:first-child {
  margin-bottom: 16px;
}

.bellow__rectangle {
  width: 46px;
  height: 32px;
  margin: 0 75px 0 0;
}

.bellow__text {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
}

.rectangle-1 {
  background-color: #FDAAA4;
}

.red {
  color: #FF4737;
}

.rectangle-2 {
  background-color: #51BFA6;
}

.green {
  color: #149073;
}

.learn-mistakes {
  margin: 0 0 57px 0;
}

.learn-mistakes__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 76px 0 76px;
}

.learn-mistakes__title {
  margin: 0 0 25px 0;
}

.learn-mistakes__text {
  font-family: PT Sans;
  font-size: 20px;
  line-height: 30px;
  color: #4f4f4f;
}

.arrow-down-mistakes {
  width: 100%;
  margin: 0 0 63px 0;
}

.arrow-down-mistakes__shadow {
  width: 100%;
}

.philosophy {
  margin: 0 0 112px 0;
}

.philosophy__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 35px 0 75px;
}

.ph-column__title {
  margin: 0 0 30px 0;
}

.ph-column__text {
  font-family: PT Sans;
  font-size: 20px;
  line-height: 30px;
  color: #4f4f4f;
}

.ph-column__text-1 {
  margin: 0 0 40px 0;
}

.ph-column__text-2 {
  margin: 0 0 12px 0;
}

.ph-list__item {
  font-family: PT Sans;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1.2px;
  color: #4f4f4f;
  padding: 0 0 0 12px;
  background-image: url(../img/dot.png);
  background-repeat: no-repeat;
  background-position: 0 12px;
}

.four-industry {
  margin: 0 0 35px 0;
}

.four-industry__title {
  margin: 0 auto 25px 65px;
}

.four-industry__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.four-img__img-wrap {
  margin: -21px 0 0 -2px;
}

.four-text__text {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 30px;
  margin: 0 110px 30px 50px;
}

.arrow-blue-shadow {
  width: 100%;
  margin: 0 0 67px 0;
}

.arrow-blue-shadow__img {
  width: 100%;
}

.FAQ {
  margin: 0 0 209px 0;
}

.FAQ__flex {
  padding: 0 65px 0 45px;
}

.FAQ__title {
  margin: 0 0 70px 0;
}

.FAQ__item {
  background-image: url(../img/minus.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  padding: 0 0 40px 60px;
  margin: 0 0 40px 0;
  border-bottom: 2px solid #d0d0d0;
}

.question__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.question__title {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  margin: 0 0 30px 0;
}

.question__text {
  font-family: PT Sans;
  font-size: 20px;
  line-height: 30px;
  color: #4f4f4f;
  border-left: 2px solid #7DB3F4;
  margin: 0 0 0 40px;
  padding: 0 0 0 20px;
}

.darker-blue {
  background-color: #c6dff9;
}

.study {
  margin: 0 0 80px 0;
}

.study__title {
  margin: 0 0 110px 68px;
}

.study__body {
  padding: 0 110px 0 70px;
}

.study__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.study__item {
  margin: 0 0 72px 0;
}

.book__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.book__img-wrap {
  margin: 0 74px 0 0;
}

.book__text {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 30px;
  color: #4f4f4f;
}

.find-how__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 51px 69px;
}

.find-how__text {
  font-family: PT Sans;
  font-size: 20px;
  line-height: 30px;
  color: #121222;
  margin: 0 0 36px 0;
}

.find-how__link {
  margin: 0 auto 0 0;
}

.introduction {
  position: relative;
  padding: 10.07% 0 14.6%;
}

.introduction__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.introduction__title {
  z-index: 5;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 48px;
  line-height: 125%;
  color: #ffffff;
  margin: 0 0 26px;
}

.introduction__title span {
  color: #000000;
  margin-left: 15px;
}

.introduction__text {
  z-index: 5;
  font-family: "PT Sans";
  font-size: 20px;
  line-height: 30px;
  margin: 0 550px 35px 0;
}

.introduction__link {
  z-index: 5;
  margin: 0 auto 0 0;
}

.introduction__img {
  position: absolute;
}

.introduction__img-1 {
  width: 13.3%;
  bottom: -10.6%;
  right: 25.4%;
}

.introduction__img-2 {
  width: 44.7%;
  bottom: 17.3%;
  right: -12.64%;
}

.introduction__img-3 {
  width: 30.3%;
  bottom: -6.73%;
  right: -3.26%;
}

.introduction__img-4 {
  width: 60.7%;
  height: 100%;
  top: 0;
  left: 0;
}

.title {
  font-family: PT Sans;
  font-weight: bold;
  font-size: 36px;
  line-height: 40px;
  color: #333333;
}

.use {
  padding: 126px 0 115px;
}

.use__title {
  margin: 0 0 50px;
}

.use__body {
  max-width: 1040px;
}

.use__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
}

.use__column {
  padding: 0 20px;
}

.use__item {
  padding: 20px 22px;
}

.item {
  width: 320px;
  height: 200px;
  -webkit-box-shadow: 0px 4px 25px rgba(35, 36, 70, 0.25);
          box-shadow: 0px 4px 25px rgba(35, 36, 70, 0.25);
  background: -o-linear-gradient(218.88deg, #7D97F4 9.52%, #7DBBF4 101.71%);
  background: linear-gradient(231.12deg, #7D97F4 9.52%, #7DBBF4 101.71%);
  border-radius: 4px;
}

.item__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item__img-wrap {
  margin: 0 0 15px auto;
}

.item__text {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.blue {
  background: -webkit-gradient(linear, left top, left bottom, from(#f0f6ff), to(#f0fffd));
  background: -o-linear-gradient(top, #f0f6ff 0%, #f0fffd 100%);
  background: linear-gradient(180deg, #f0f6ff 0%, #f0fffd 100%);
}

.blue-indent {
  padding: 0 0 70px;
}

.arrow-down-blue {
  margin-top: -1px;
  width: 0;
  border-top: 125px solid #f0fffd;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
}

.sales {
  padding: 85px 0 55px;
}

.sales__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sales__img-wrap {
  width: 320px;
}

.sales__img {
  width: 320px;
  margin: 5px 0 0 0;
}

.column {
  padding: 0 50px 0 0;
}

.column__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.column__title {
  margin: 0 0 40px;
}

.column__text {
  font-family: PT Sans;
  font-size: 20px;
  line-height: 30px;
  color: #4f4f4f;
  margin: 0 0 33px;
}

.column__item {
  font-family: PT Sans;
  font-size: 16px;
  line-height: 20px;
  color: #4F4F4F;
  margin: 0 0 16px;
  padding: 0 0 0 30px;
  background-image: url(../img/list_item.svg);
  background-position: 0 4px;
  background-repeat: no-repeat;
}

.white-finance {
  margin: 0 0 70px 0;
}

.arrow-down-blue {
  position: relative;
}

.arrow-up-small {
  position: absolute;
  top: -130px;
  left: -47px;
}

.arrow-up-small__img {
  width: 95px;
}

.finance {
  padding: 90px 0 40px 0;
}

.finance__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.finance__body {
  padding: 0 50px 0 0;
}

.finance__body-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.finance__title {
  margin: 0 0 30px 0;
}

.finance__text {
  font-family: PT Sans;
  font-size: 20px;
  line-height: 30px;
  color: #4f4f4f;
  margin: 0 0 41px 0;
}

.finance__img-wrap {
  width: 320px;
  margin: 7px 0 0 0;
}

.finance__img {
  width: 320px;
}

.list-fnnc__list-title {
  font-family: PT Sans;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
  margin: 0 0 25px 0;
}

.list-fnnc__item {
  font-family: PT Sans;
  font-size: 16px;
  line-height: 20px;
  color: #4f4f4f;
  margin: 0 0 16px;
  padding: 0 0 0 30px;
  background-image: url(../img/list_item.svg);
  background-position: 0 4px;
  background-repeat: no-repeat;
}

.discuss {
  padding: 0 20px;
}

.discuss__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f0f6ff;
  border-radius: 4px;
  padding: 35px 35px 40px 40px;
  max-width: 1120px;
  margin: 0 auto;
}

.discuss__text {
  font-family: PT Sans;
  font-size: 20px;
  line-height: 30px;
  color: #4f4f4f;
  margin: 0 0 22px 0;
}

.discuss__link {
  margin: 0 auto 0 0;
}

.white-arrow-finance {
  border-top: 130px solid #ffffff;
  position: relative;
  margin: 0 0 32px 0;
}

.arrow-up-finance {
  position: absolute;
  top: -137px;
  left: -47px;
}

.arrow-up-finance__img {
  width: 95px;
}

.it {
  margin: 0 0 48px 0;
}

.it__flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.it__link {
  display: block;
  font-family: Open Sans;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  text-decoration: underline;
  margin: 0 15px 8px auto;
}

.it__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.it__body {
  padding: 0 40px 0 0;
}

.it__body-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.it__title {
  margin: 0 0 37px 0;
}

.it__text {
  font-family: PT Sans;
  font-size: 20px;
  line-height: 30px;
  color: #4f4f4f;
  margin: 0 0 35px 0;
}

.it__img-wrap {
  width: 320px;
}

.it__img {
  width: 320px;
  margin: 118px 0 0 0;
}

.list-it__title {
  font-family: PT Sans;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #333333;
  margin: 0 0 30px 0;
}

.list-it__list {
  width: 560px;
  margin: 0 auto 0 0;
}

.list-it__item {
  font-family: PT Sans;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
  color: #4f4f4f;
  margin: 0 0 16px;
  padding: 0 0 0 30px;
  background-image: url(../img/list_item.svg);
  background-position: 0 4px;
  background-repeat: no-repeat;
}

.arrow-up-footer__img-wrap {
  width: 95px;
  margin: 52px auto 16px;
}

.arrow-up-footer__img {
  width: 95px;
}

.consultation {
  margin: 100px 0 57px 0;
}

.consultation__title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #121222;
  margin: 0 0 45px 0;
}

.consultation__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.consultation__img-wrap {
  margin: 10px 35px 0 0;
}

.consultation__text {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 30px;
  color: #121222;
}

.criteria {
  margin: 0 0 50px 0;
}

.criteria__title {
  margin: 0 0 45px 0;
}

.criteria__list {
  font-family: PT Sans;
  font-size: 16px;
  line-height: 20px;
  color: #4f4f4f;
  margin: 0 350px 0 0;
}

.criteria__item {
  background-image: url(../img/list_item.svg);
  background-position: 0 4px;
  background-repeat: no-repeat;
  padding: 0 0 0 30px;
  margin: 0 0 16px 0;
}

.works {
  margin: 0 0 73px 0;
}

.works__title {
  margin: 0 0 37px 0;
}

.works__list {
  font-family: PT Sans;
  font-size: 16px;
  line-height: 20px;
  color: #4f4f4f;
  margin: 0 350px 0 0;
}

.works__item {
  background-image: url(../img/list_item.svg);
  background-position: 0 4px;
  background-repeat: no-repeat;
  padding: 0 0 0 30px;
  margin: 0 0 16px 0;
}

.contacts {
  margin: 0 0 105px 0;
}

.contacts__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F0F6FF;
  border-radius: 4px;
  padding: 35px 35px 40px 40px;
  max-width: 1120px;
  margin: 0 auto;
}

.contacts__text {
  font-family: PT Sans;
  font-size: 20px;
  line-height: 30px;
  color: #4f4f4f;
  margin: 0 0 45px 0;
}

.contacts__link {
  margin: 0 auto 0 0;
}

.team {
  margin: 87px 0 35px 0;
}

.team__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team__title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  color: #121222;
  margin: 0 0 78px 0;
}

.team__text {
  font-family: Open Sans;
  font-size: 18px;
  line-height: 30px;
  color: #4f4f4f;
  margin: 0 0 55px 0;
}

.team__flex-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__img-wrap {
  margin: 0 50px 0 0;
  padding: 0 0 0 10px;
}

.team__img {
  margin: -10px 0 0 0;
}

.team-list__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.team-list__title {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #4f4f4f;
  margin: 0 0 40px 0;
}

.team-list__list {
  font-family: PT Sans;
  font-size: 16px;
  line-height: 20px;
  color: #4f4f4f;
}

.team-list__item {
  padding: 0 0 0 30px;
  background-image: url(../img/list_item.svg);
  background-position: 0 4px;
  background-repeat: no-repeat;
  margin: 0 0 16px 0;
}

.team-arrow {
  width: 100%;
}

.team-arrow__img {
  width: 100%;
}

.lock {
  overflow: hidden;
}

.wrapper {
  max-width: 1440px;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
}

.white {
  background-color: #ffffff;
}

.blue {
  background: -webkit-gradient(linear, left top, left bottom, from(#F0F6FF), to(#F0FFFD));
  background: -o-linear-gradient(top, #F0F6FF 0%, #F0FFFD 100%);
  background: linear-gradient(180deg, #F0F6FF 0%, #F0FFFD 100%);
}

.content-width {
  max-width: 1200px;
  margin: 0 auto;
}

.content-narrow {
  max-width: 1080px;
  padding: 0 20px;
  margin: 0 auto;
}

.button-yellow {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  padding: 18px 48px;
  border-radius: 2px;
  background-color: #FFE600;
}

@media (min-width: 767.98px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .navigation__item {
    margin: auto 23px;
  }
}

@media (max-width: 1240px) {
  .introduction__title {
    font-size: 41px;
  }

  .introduction__text {
    font-size: 18px;
    margin: 0 450px 35px 0;
  }

  .content-narrow {
    max-width: 940px;
  }

  .button-yellow {
    font-size: 18px;
  }
}

@media (max-width: 1080px) {
  .introduction {
    padding: 9% 0 13%;
  }

  .introduction__title {
    font-size: 33px;
  }

  .introduction__text {
    font-size: 16px;
    margin: 0 350px 35px 0;
  }

  .title {
    font-size: 32px;
  }

  .use {
    padding: 118px 0 115px;
  }

  .content-narrow {
    max-width: 768px;
  }

  .button-yellow {
    font-size: 16px;
    padding: 12px 34px;
  }
}

@media (max-width: 767.98px) {
  .navigation__burger {
    display: block;
    cursor: pointer;
    z-index: 5;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 18px;
    position: relative;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
  }

  .navigation__burger::before {
    content: "";
    height: 10%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333333;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .navigation__burger::after {
    content: "";
    height: 10%;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333333;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .navigation__burger span {
    -webkit-transform: scale(1) translate(0px, -50%);
        -ms-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
    height: 10%;
    width: 100%;
    position: absolute;
    top: 54%;
    left: 0;
    background-color: #333333;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .navigation__burger_active span {
    -webkit-transform: scale(0) translate(0px, -50%);
        -ms-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }

  .navigation__burger_active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
        -ms-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }

  .navigation__burger_active::after {
    top: 50%;
    -webkit-transform: rotate(45deg) translate(0px, -50%);
        -ms-transform: rotate(45deg) translate(0px, -50%);
            transform: rotate(45deg) translate(0px, -50%);
  }

  .navigation__body {
    background-color: white;
    -webkit-transition: left  0.3s ease 0s;
    -o-transition: left  0.3s ease 0s;
    transition: left  0.3s ease 0s;
    overflow: auto;
    margin: 77px 0 0 0;
    padding: 30px;
    width: 420px;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    bottom: auto;
    right: auto;
  }

  .navigation__body_active {
    left: 0;
  }

  .navigation__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .navigation__item {
    border-bottom: 1px solid rgba(51, 51, 51, 0.2);
    margin: 0 0 30px;
    padding: 0 0 25px;
    width: 100%;
    height: auto;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto;
    z-index: 10;
  }

  .main {
    margin: 77px 0 0 0;
  }
}

@media (max-width: 767px) {
  .introduction {
    background: -o-linear-gradient(315deg, #7D97F4 0%, #7DBBF4 10%, #ffffff 70%);
    background: linear-gradient(135deg, #7D97F4 0%, #7DBBF4 10%, #ffffff 70%);
  }

  .introduction__title span {
    margin-left: 0;
  }

  .introduction__title {
    max-width: 600px;
    font-size: 28px;
    color: #000;
  }

  .introduction__text {
    font-size: 14px;
    margin: 0 0 35px;
    max-width: 350px;
  }

  .introduction__img-4 {
    display: none;
  }

  .title {
    font-size: 28px;
  }

  .use {
    padding: 100px 0 100px;
  }

  .content-narrow {
    max-width: 100%;
  }
}

@media (max-width: 549px) {
  .introduction__title {
    max-width: 460px;
    font-size: 24px;
  }

  .introduction__img-1 {
    display: none;
  }

  .introduction__img-2 {
    display: none;
  }

  .introduction__img-3 {
    display: none;
  }

  .title {
    font-size: 24px;
  }

  .use {
    padding: 50px 0 60px;
  }
}

@media (max-width: 479.98px) {
  .navigation__body {
    width: 100%;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 20px 37px;
  }

  .footer__logo {
    margin: 0 0 30px;
  }

  .footer__body {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@supports (-webkit-appearance:none){
.ph-list__item{background-image:url(../img/dot.webp)}
.FAQ__item{background-image:url(../img/minus.svg)}
.column__item{background-image:url(../img/list_item.svg)}
.list-fnnc__item{background-image:url(../img/list_item.svg)}
.list-it__item{background-image:url(../img/list_item.svg)}
.criteria__item{background-image:url(../img/list_item.svg)}
.works__item{background-image:url(../img/list_item.svg)}
.team-list__item{background-image:url(../img/list_item.svg)}
}

 @media (min-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1240px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1080px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 549px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 479.98px){

@supports (-webkit-appearance:none){

}

}
